@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&family=NTR&family=Noto+Serif+KR:wght@900&display=swap");

* {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
section {
  margin: 77px 77px;
}
li {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
button {
  background: none;
  border: 1px solid #8d8d8e;
  box-sizing: border-box;
  border-radius: 99px;
}
span {
  font-weight: 600;
}
/*-- --------- header --------- --*/
header {
  position: fixed;
  display: contents;
}

.annonce {
  margin: 0;
  padding: 0;
  background-color: #0c0c0d;
}
.annonce p {
  color: #ffffff;
  text-align: center;
  margin: 0 0 10px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 77px 0 77px;
  background-color: #ffffff;
}

.search-bar .img1 {
  margin-right: 44px;
}

.search {
  display: flex;
  align-items: center;
  background: #f3f3f3;
  border-radius: 10px;
  width: 657px;
  height: 48px;
}

.search img {
  margin: 24px;
}
.search input {
  width: 88%;
  height: 48px;
  background: #f3f3f3;
  border: none;
}

.perso {
  margin-left: 60px;
}

.perso,
.perso img {
  display: flex;
}

.perso img {
  margin-left: 5px;
}

.bar {
  padding: 0 77px 10px 77px;
  left: 1px;
  right: 0px;
  background-color: #f9f9f9;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  height: 50%;
  padding: 0px;
  background-color: #f9f9f9;
}


.e1 {
  margin-right: 100px;
  font-weight: 600;
  text-transform: uppercase;
}

.e1 img {
  position: relative;
  top: 7px;
  margin-right: 7px;
}
.e8 img {
  position: relative;
  top: 5px;
  margin-right: 7px;
}


button p {
  position: relative;
  margin-right: 4px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 2px;
  font-weight: 600;
}
a:hover {
  color: #0c0c0d;
}

.e2,
.e3,
.e4,
.e5,
.e6,
.e7 {
  margin-left: auto;
}
.e8 {
  margin-left: 195px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0c0c0d;
}
.e2 a {
  color: #e84d45;
  font-weight: 600;
}

/*-- ---------Main styling --------- --*/

main {
  position: static;
}

main,
nav {
  /* Gray/0-default */
  background: #ffffff;
}

/*-- --------- section premier --------- --*/

.premier {
  margin-bottom: 38px;
}
.collab {
  top: 15px;
  background: #ffffff;
  color: #0c0c0d;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.animate img {
  display: flexbox;
  align-items: center;
  justify-content: center;
  height: 303px;
  width: 100%;
  margin: 32px 0px 32px 0px;
  border-radius: 10px;
}
.com h1 {
  font-weight: 700;
  position: static;
  font-size: 49px;
  line-height: 48px;
  text-align: center;
}
.com p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 5%;
  width: 95%;
  margin: 30px;
}

/*-- --------- section info --------- --*/

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 59px;
}

.info h3 {
  margin-top: 82px;
  font-weight: 700;
  font-size: 31px;
  line-height: 35px;
}

.info p {
  width: 555px;
  height: 48px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 31px;
}

.info img {
  margin-right: 28px;
}

/*-- --------- section fram-1 --------- --*/

.fram-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;
}

.fram-1 img {
  max-height: 900px;
  max-width: 1200px;
}
.fram-1 p {
  max-width: 381px;
  max-height: 168px;
  align-items: center;
  font-style: normal;
  margin: 72px 212px 388px;
}

.fram-1 p span {
  text-decoration-line: underline;
}

/*-- --------- section fram-2 --------- --*/


.fram-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fram-2 p {
  width: 529px;
  text-align: right;
  margin: 60px 77px 77px 77px;
}

.fram-2 img {
  width: 50%;
  border-radius: 0px 0px 10px 0px;
}

/*-- --------- section fram-3 --------- --*/


.fram-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fram-3 div {
  position: static;
  margin-left: 10%;
}
.fram-3 div h3 {
  font-size: 31px;
  font-weight: 700;
}
.fram-3 img {
  width: 50%;
}

.fram-3 div p {
  width: 90%;
}
.fram-3 .ignor {
  font-family: "Noto";
  font-weight: 900;
}

/*-- --------- sdiv name --------- --*/

.name-collec h3 {
  margin: 77px 77px;
  font-weight: 700;
  font-size: 31px;
  line-height: 35px;
  width: 604px;
}

/*-- --------- section product --------- --*/

.fram-product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 27px;
  margin-left: 0;
}
.fram-product h1 {
  font-size: 31px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}
/* .bxslider{
  display: flex;
  justify-content: center;
  box-shadow: red;
  border: 99px;
} */
/* 
.bxslider li {
  border: #0c0c0d;
  border-radius: 7px;
  box-shadow: deeppink;
} */

.fram-product p {
  margin: 5px;
}

.btn-fav img {
  position: relative;
  width: 32px;
  margin-left: 315px;
  margin-bottom: -48px;
}

.btn-shop img {
  width: 32px;
  position: relative;
  margin-left: 315px;
  margin-top: -2px;
}

/*-- --------- section protect --------- --*/


.protect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 184px;
  margin-top: 80px;
  position: static;
  margin: auto;
  background: #f9f9f9;
}

.mention h1 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.mention p {
  font-weight: 600;
  font-size: 12px;
  max-width: 157px;
  margin-top: 8px;
}

/*-- --------- Footer --------- --*/

footer {
  background: #0c0c0d;
  height: 100%;
}

/*-- --------- section all-info --------- --*/

.all-info {
  display: flex;
  flex-direction: column;
}

.plus {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 50px 77px 0 77px;
}

.contact {
  padding-bottom: 35px;
}

.contact p span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.e-mail {
  font-size: 12px;
  font-weight: 600;
}

.mail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  height: 48px;
  border-radius: 10px 10px;
}

.mail input {
  width: 402px;
  height: 48px;
  border: none;
  background: #f3f3f3;
}

.mail button {
  padding: 11px 30px 11px 16px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-weight: 600;
  font-size: 20px;
}
.mail button:hover {
  background-color: #f3f3f3;
}
.mail span {
  font-weight: 600;
  font-size: 20px;
}

.sav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sav .fram2 {
  margin-top: 35px;
  background: none;
}

.fram h1 {
  text-transform: uppercase;
}

.fram2 button {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 12px;
  background-color: #ffffff;
}
.fram2 img {
  padding-right: 13px;
}

.social {
  width: 50%;
}

.social h1 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.social nav ul {
  background-color: #0c0c0d;
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.items {
  display: flex;
  flex-direction: column;
  margin-left: 96px;
}

.items h1 {
  text-transform: uppercase;
}

.items a {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 10px;
}

.all-info{
  margin: 0 77px 0 77px;

}
.all-info .mention {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-self: center;
  background: #232326;
  border-radius: 10px;
  padding: 16px 64px;
  margin: 40px 0px;
}

.all-info a {
  color: #ffffff;
}

/*-- --------- section info paiement --------- --*/

.paiement{
  margin: 0;  
  padding: 0 77px 0 77px;
  background-color: #ffffff;
}
.paiement div{
  padding: 0 77px 0 77px;
  display: flex;
  justify-content: space-between;
}