@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&family=NTR&family=Noto+Serif+KR:wght@900&display=swap");

* {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
header{
  position: fixed;
  height: 290px;
}

.search-bar{
  width: 1000vh;
  background-color: #ffffff;
}

.bar{
  position: fixed;
  left: 1px;
  right: 0px;
  background-color: #F9F9F9;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  height: 50%;
  padding: 0px;
  background-color: #F9F9F9;
}

li {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  
}
.e1 {
  margin-right: 100px;
  font-weight: 600;
  text-transform: uppercase;
 }

.e1 img {
  position: relative;
  top: 7px;
  margin-right: 7px;
}
.e8 img {
  position: relative;
  top: 5px;
  margin-right: 7px;
}

button {
  background: none;
  border: 1px solid #8d8d8e;
  box-sizing: border-box;
  border-radius: 99px;
}
button p{
  position:relative;
  margin-right: 4px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 2px;
  font-weight: 600;
}
a:hover{
  color: #0c0c0d;
}


.e2,
.e3,
.e4,
.e5,
.e6,
.e7 {
  margin-left: auto;
}
.e8 {
  margin-left: 195px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0c0c0d;
}
.e2 a{
  color: #E84D45;
  font-weight: 600;
} 

section{
  margin: 77px 77px;
}
main{
  padding-top: 290px;
}

main,
nav {
  /* Gray/0-default */
  background: #ffffff;
}
span {
  font-weight: 600;
}
.premier {
  margin-bottom: 38px;
}
.collab {
  top: 15px;
  background: #ffffff;
  color: #0c0c0d;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.animate img {
  display: flexbox;
  align-items: center;
  justify-content: center;
  height: 303px;
  width: 100%;
  margin: 32px 0px 32px 0px;
  border-radius: 10px;
}
.com h1 {
  font-weight: 700;
  position: static;
  font-size: 49px;
  line-height: 48px;
  text-align: center;
}
.com p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 5%;
  width: 95%;
  margin: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 59px;
}

.info h3 {
  margin-top: 82px;
  font-weight: 700;
  font-size: 31px;
  line-height: 35px;
}

.info p {
  width: 555px;
  height: 48px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 31px;
}

.info img {
  margin-right: 28px;
}
.fram-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;
}

.fram-1 img {
  max-height: 900px;
  max-width: 1200px;
}
.fram-1 p {
  max-width: 381px;
  max-height: 168px;
  align-items: center;
  font-style: normal;
  margin: 72px 212px 388px ;

}

.fram-1 p span {
  text-decoration-line: underline;
}

.fram-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fram-2 p {
  width: 529px;
  text-align: right;
  margin: 60px 77px 77px 77px;
}

.fram-2 img {
  width: 50%;
  border-radius: 0px 0px 10px 0px;
}

.fram-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fram-3 div {
  position: static;
  margin-left: 10%;
}
.fram-3 div h3 {
  font-size: 31px;
  font-weight: 700;
}
.fram-3 img {
  width: 50%;
}

.fram-3 div p {
  width: 90%;
}
.fram-3 .ignor {
  font-family: "Noto";
  font-weight: 900;
}
.name-collec h3 {
  margin: 77px 77px;
  font-weight: 700;
  font-size: 31px;
  line-height: 35px;
  width: 604px;
}
.fram-product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 27px;
  margin-left: 0;
} 
.fram-product h1 {
  font-size: 31px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.fram-product p{
  margin: 5px;
}

.btn-fav img{
  position: relative;
  width: 32px;
  margin-left: 315px;
  margin-bottom: -48px;
}

.btn-shop img{
  width: 32px;
  position: relative;
  margin-left: 315px;
  margin-top: -2px;
}

.protect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 184px;
  margin-top: 80px;
  position: static;
  margin: auto;
  background: #f9f9f9;
}

.mention h1 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.mention p {
  font-weight: 600;
  font-size: 12px;
  max-width: 157px;
  margin-top: 8px;
}
